{% extends 'index.html' %}

{% block title %}Meus posts {% endblock %}

{% block content %}

<div class="row">
    <div class="col-6 col-12-medium">
        <ul class="actions">
            <li><a href="{% url 'create' %}" class="button">Criar novo post</a></li>
        </ul>
    </div>
</div>

{% if posts %}
    {% for post in posts %}
    <div id="main">
        <article class="post">
            <header>
                <div class="title">
                    <h2><a href="single.html">{{ post.title }}</a></h2>
                    <p>{{ post.sub_title }}</p>
                </div>
            </header>

            <p>{{ post.text }}</p>
            <footer>
                <ul class="actions">
                    <li><a href="single.html" class="button large">Continue lendo...</a></li>
                </ul>
            </footer>
        </article>
    </div>
    {% endfor %}

{% else %}
    <h1>Você ainda não tem nenhum post, clique <a href="#">aqui</a> para adicionar um! </h1>
{% endif %}

{% endblock %}